
@font-face {
    font-family: 'Roboto-Condenced-Black';
    src: url('./Roboto/RobotoCondensed-VariableFont_wght.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto-Flex-Regular';
    src: url('./Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Serif-Light';
    src: url('./Roboto/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
    font-weight: 300;
}
