.root {
	margin: 0 auto;
	height: 100vh;
	max-width: 1440px;
}

:root[data-theme='light'] {
	--background-color: #ffffff;
	--text-color: #171614;
	--decoration-color: #3da083;
	--decoration-color-inversed: #91e0c8;
	--line-color: rgba(23, 22, 20, 0.2);
	--box-shadow: 4px 4px 10px 0px rgba(55, 82, 74, 0.1);
}

:root[data-theme='dark'] {
	--background-color: #171614;
	--text-color: #ffffff;
	--decoration-color: #91e0c8;
	--decoration-color-inversed: #3da083;
	--line-color: rgba(255, 255, 255, 0.3);
	--box-shadow: 1px 1px 4px 0px rgba(70, 119, 104, 0.4);
}

body {
	background: var(--background-color);
	color: var(--text-color);
}
