.cardContainer {
	width: 556px;
	height: 612px;
	border-radius: 16px;
	border: 1px solid black;
	overflow-y: scroll;
	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		li {
			width: 265px;
			list-style: none;
			margin-bottom: 12px;
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}
	}
}
.cardContainer::-webkit-scrollbar {
	display: none;
}
