$text-font: 'SourceSansPro-Regular';
$header-font: 'Lora-Bold';
$color: var(--text-color);

.container {
	margin: 36px auto 76px;
	max-width: 1132px;
	font-family: $text-font;
	color: $color;
}

.back {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	font-size: 18px;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
	.back_icon {
		width: 26px;
		height: 26px;
		margin-right: 8px;
		background-image: url(../../assets/images/back.svg);
	}
	&:hover {
		opacity: 0.8;
	}
}

.heading {
	display: flex;
	margin-top: 12px;
	padding-bottom: 25px;
	position: relative;
}

.heading::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background: rgba(23, 22, 20, 0.2);
	bottom: 0%;
}

.title {
	width: 556px;
	font-family: $header-font;
	margin-right: 20px;
	h1 {
		margin: 0;
		font-size: 40px;
		letter-spacing: 0.4px;
	}
	p {
		margin: 25px 0;

		font-family: $text-font;
		font-size: 18px;
		line-height: 20px; /* 111.111% */
		letter-spacing: 0.18px;
	}
}

.map {
	margin-right: 16px;
}

.map_mini {
	width: 228px;
	height: 120px;
	background-image: url(../../assets/images/map-mini.jpg);
}

.button {
	width: 228px;
	padding: 7px 51px;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 8px;
	background: #ebebeb;
	font-size: 14px;
	line-height: 18px; /* 128.571% */
	letter-spacing: 0.14px;
	cursor: pointer;
}

.info {
	display: grid;
	grid-template-columns: 16px 1fr;
	grid-template-rows: auto auto;
	gap: 25px 8px;
	align-content: flex-start;
	p {
		margin: 0;
	}
}

.point_icon {
	width: 16px;
	height: 20px;
	background-image: url(../../assets/images/point.svg);
}

.schedule_icon {
	width: 16px;
	height: 16px;
	background-image: url(../../assets/images/clock.svg);
}

.desription {
	display: flex;
	margin-top: 25px;
}

.photo {
	display: grid;
}

.img {
	grid-area: 1/1;
	width: 556px;
	height: 480px;
	border-radius: 12px;
	object-fit: cover;
}

.favourites {
	grid-area: 1/1;
	justify-self: end;
	padding-top: 12px;
	padding-right: 12px;
}

.save {
	padding: 0;
	border: none;
	width: 44px;
	height: 44px;
	border-radius: 44px;
	background-image: url(../../assets/images/favourites.svg);
	cursor: pointer;
}

.features {
	margin-left: 20px;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 175px 1fr;
	gap: 12px;
	grid-template-areas:
		'tag1 list1'
		'tag2 list2'
		'tag3 list3'
		'tag4 list4'
		'tag5 list5';
}

.tag {
	margin: 0;
	font-family: $header-font;
}

.tag1 {
	grid-area: tag1;
}

.tag2 {
	grid-area: tag2;
}

.tag3 {
	grid-area: tag3;
}

.tag4 {
	grid-area: tag4;
}

.tag5 {
	grid-area: tag5;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 12px;
	position: relative;
}

.list:first-child::after {
	position: absolute;
	content: '';
	height: 65%;
	width: 1px;
	background: rgba(23, 22, 20, 0.2);
	right: 0;
	top: 0;
}

.list:last-child {
	padding-left: 12px;
}

.list1 {
	grid-area: list1;
	list-style-image: url(../../assets/images/list-item.svg);
	list-style-position: inside;
}

.list2 {
	grid-area: list2;
	display: flex;
}

.list3 {
	grid-area: list3;
}

.list4 {
	grid-area: list4;
	display: flex;
}

.list4 {
	grid-area: list4;
}

.list5 {
	grid-area: list5;
}
