@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-Condenced';
    src: url('./Roboto/RobotoCondensed-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('./Archivo/Archivo-VariableFont_wdth\,wght.ttf');
    font-weight: 400;
}
