@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Archivo';
    src: url('./Archivo/Archivo-VariableFont_wdth\,wght.ttf');
    font-weight: 400;
}
