@mixin button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 0.8;
	}
}

@mixin roboto_flex {
	font-family: 'Roboto-Flex-Regular';
	font-size: 18px;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 111.111% */
	letter-spacing: 0.18px;
}

.card {
	margin: 32px auto;
	padding: 30px 65px 62px;
	background-color: #ffffff;
	max-width: 1110px;
	box-sizing: border-box;
}

.button_back {
	@include button;
	display: flex;
	align-items: center;
}

.container_heading {
	display: flex;
}

.text {
	@include roboto_flex;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.rating_icon {
	justify-self: left;
}

.title {
	margin-right: 26px;

	font-family: 'Roboto-Serif-Light';
	font-size: 32px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.button_review {
	@include button;

	display: flex;
	align-items: center;
	margin-right: 63px;
}

.review_icon {
}

.button_save {
	@include button;

	display: flex;
	align-items: center;
}

.save_icon {
}

.content {
	display: grid;
	grid-template-areas:
		'capt image_1 image_2'
		'capt image_1 image_3';
	grid-template-columns: 1fr 350px minmax(0, 204px);
	grid-template-rows: repeat(2, 167px);
	grid-gap: 15px;
	margin-bottom: 64px;
}

.caption {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-area: capt;
	background-color: #ffffff;
}

.container_tags {
	display: flex;
	justify-content: space-between;
}

.container_info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container_button {
	display: flex;
	justify-content: center;
}

// .button_large {
// 	@include button;

// 	display: block;
// 	margin: auto;
// 	width: 350px;
// 	height: 64px;
// 	padding: 10px;
// 	border-radius: 8px;
// 	background: var(--Orange, #f2994a);

// 	font-family: 'Roboto-Flex-Regular';
// 	font-size: 24px;
// 	font-weight: 400;
// }

// .button_medium {
// 	@include button;
// 	@include roboto_flex;

// 	display: inline-flex;
// 	padding: 8px 32px;
// 	justify-content: center;
// 	align-items: center;
// 	border-radius: 8px;
// 	background: #e0e0e0;
// }
