.subtitle {
	margin: 0 0 16px;
	color: #333;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.24px;
}
.description {
	color: #333;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.18px;
	margin: 0 0 16px;
}
.text {
	margin: 8px 0 64px;
	color: #000;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.12px;
}
.inputsContainer {
	display: flex;
	gap: 10px;
}
.input {
	text-align: center;
	width: 43px;
	height: 43px;
	border-radius: 5px;
	border: 1px solid #333;
	font-size: 20px;
	font-weight: 300;
	&::placeholder {
		color: #e0e0e0;
	}
}
