@use '../../assets/fonts/fonts_list' as *;

.header {
	margin: 36px auto 0;
	max-width: 1132px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 172px;
	height: 54px;
	cursor: pointer;
}

.container {
	width: 100%;
	min-height: 54px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.align_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.favourites {
	display: flex;
	align-items: center;
	margin-right: 66px;
	.icon {
		width: 44px;
		height: 44px;
		cursor: pointer;
		background-image: url('../../assets/images/favourites.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
	p {
		padding: 0;
		@include font($sans, 18px, 20px, 0.18px);
		// color: black;
		color: var(--text-color);
		margin: 4px 16px 0 4px;
	}
}
