@use '../../assets/fonts/fonts_list' as *;

.header {
	margin: 36px auto 0;
	max-width: 1132px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 172px;
	height: 54px;
	cursor: pointer;
}

.container {
	width: 100%;
	min-height: 54px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.align_container {
	display: flex;
	flex-direction: row;
}

.favourites {
	display: flex;
	align-items: center;
	margin-right: 66px;
	.icon {
		width: 28px;
		height: 26px;
		cursor: pointer;
		background-image: url('../../assets/images/favourites.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
	p {
		padding: 0;
		@include sanspro-medium;
		color: black;
		margin: 4px 16px 0 4px;
	}
}

.switcher {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 48px;
	height: 32px;
	border: 2px solid #0b109e;
	border-radius: 16px;
	img {
		width: 24px;
		height: 24px;
		margin: 4px;
	}
}
