@mixin shadowColor($color) {
	box-shadow: 4px 4px $color;
}

@mixin defaultTag {
	font-size: 12px;
	width: 169px;
	height: 40px;
	border-radius: 12px;
	border: 2px solid #0b109e;
}

.button {
	font-family: 'SFPro-Heavy';
	background-color: transparent;
	border: 0;
	padding: 0;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}

.tag {
	@include defaultTag;
	color: #0b109e;
	@include shadowColor(#cfbaf0);
	&:hover {
		@include shadowColor(#90dbf4);
	}
}

.tag_active {
	background-color: #fbf8cc;
}

.tag_disabled {
	color: white;
	border-color: #828282;
	background-color: #e0e0e0;
	pointer-events: none;
	box-shadow: none;
}

.search {
	width: 152px;
	height: 68px;
	font-family: 'SourceSansPro-Regular';
	text-transform: uppercase;
	font-size: 18px;
	background-color: #0b109e;
	border-radius: 89px;
	color: white;
	&:hover {
		color: #0b109e;
		background-color: #90dbf4;
	}
}

.search_active {
	background-color: #cfbaf0;
	color: #0b109e;
}

.action {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('../../images/favourites.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.action_active {
	background-image: url('../../images/favourites-active.svg');
}

.action_close {
	background-image: url('../../images/close-icon.svg');
}
