.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	min-height: 96px;
	font-family: 'SourceSansPro-Regular';
	color: rgba(130, 130, 130, 1);
	div {
		display: flex;
		justify-content: space-between;
		width: 1132px;
		flex-direction: row;
		p {
			font-weight: 12px;
			line-height: 16px;
			padding: 0;
			margin: 0;
			text-transform: uppercase;
		}
	}
}
