.mapContainer {
	display: flex;
	width: 556px;
	height: 612px;
	border-radius: 16px;
	background-color: gray;
	border: 0;
	box-shadow: 4px 4px #cfbaf0;
	background-image: url('../../assets/images/map-template.png');
	object-fit: cover;
	flex-direction: row-reverse;
	.mapIcon {
		width: 56px;
		height: 56px;
		margin: 21px 17px 0 0;
		cursor: pointer;
		background-color: #0b109e;
		background-image: url('../../assets/images/maximize-map.svg');
		background-repeat: no-repeat;
		background-position: center;
		border: 0;
		border-radius: 12px;
	}
}
