
.default {
	width: 44px;
	height: 44px;	
	border: none;
	border-radius: 50%;
	padding: 0;
	cursor: pointer;
 	background-image: url(../../images/ui-kit-icons/favourites.svg);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 44px 44px;
  	transition: 0.3s opacity;	
}

.active {	
	background-image: url(../../images/ui-kit-icons/favourites-click.svg);
}
